body{
    background-color:lightblue;
    font-family: arial;
}

h1{
    text-align:center
}

h3{
    text-align:center
}

.button-icon {
  width: 100px;
  height: 100px;
}

#choices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}
#choices button{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    border-radius:5px;

}

#texts{
    display:flex;
    padding:10px;
    margin-top: 30px;
    gap:20px;
   
}

.textName{
    float:left;
    background-color: white;
    padding:10px;
    border-radius:5px
}

#scores{
    display:flex;
    justify-content: space-between;
}